@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "tailwindcss";

@layer base {

  * {
    font-family: "Pacifico", cursive;
  }

  img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

  
  .sky-container,
  .window-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    will-change: transform;
  }

  .hero {
        height: 100svh;
        width: 100%;
        position: relative;
        overflow: hidden;
        perspective: 1000px;
    }

  .hero-header {
      transform-style: preserve-3d;
      will-change: transform;
  }
}


/* Scrollbar width */
::-webkit-scrollbar {
  width: 4px; 
}

/* background behind the thumb */
::-webkit-scrollbar-track {
  background: #171717; 
}

/* The draggable thumb */
::-webkit-scrollbar-thumb {
  background:white;     
  border-radius: 999px;       
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background:#3a3a3a; 
}
